<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.imagespace.excel.dao.ExcelFilterRuleDao">

    <sql id="all_columns" >
        id, name, user_id userId
    </sql>

    <select id="queryByUserId" resultType="com.imagespace.excel.model.ExcelFilterRule">
        SELECT <include refid="all_columns"/> FROM t_excel_filter_rule WHERE user_id = #{userId}
    </select>

    <select id="countByName" resultType="int">
        SELECT COUNT(1) FROM t_excel_filter_rule WHERE name = #{name} AND user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.imagespace.excel.model.ExcelFilterRule" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_excel_filter_rule
            (name, user_id)
        VALUES
            (#{name}, #{userId})
    </insert>
    
</mapper>